{% extends "index.html" %}
{% block content %}


<title>Home</title>

{# <div class="pt-5">
    <h1>User {{current_user.username}} - Expenses:</h1>
</div> #}


<div class="row justify-content-center pt-5 bg-glass">

    {% if current_user.is_authenticated %}
    <legend class="border-bottom mb-4 text-center" style="color:black; font-size: 30px;"><b>{{current_user.username}} -
            Expenses</b></legend>
    {% else %}
    <legend class="border-bottom mb-4 text-center"><b>Example Expenses:</b></legend>
    {% endif %}


    <table class="w-75 table table-striped text-left">
        <thead>
            <tr>

                <th scope="col" class="text-left">Name</th>
                <th scope="col" class="text-left">Category</th>
                <th scope="col" class="text-left">Date</th>
                <th scope="col" class="text-right">Amount</th>
                {% if current_user.is_authenticated %}
                    <th scope="col" class="text-right"></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>

            {% for expense in expenses %}
            <tr>

                <td class="text-left">{{expense.name}}</td>
                <td class="text-left">{{expense.category}}</td>
                <td class="text-left">{{expense.date.strftime("%a - %#d %b %Y")}}</td>
                <td class="text-right">£{{expense.amount}}</td>
                {% if current_user.is_authenticated %}
                    
                    <td class="text-right">
                        <form action="{{url_for('views.delete_expense', id=expense.id)}}" method="POST">
                            <input class="btn btn-outline-danger delete-button" type="submit", value="Delete">
                        </form>                    
                    </td>
                    

                {% endif %}
                
            </tr>

            {% endfor %}


        </tbody>
    </table>
</div>
<div class="row pt-5 pb-5 bg-glass expense-form justify-content-center align-items-center">
    {% if form and current_user.is_authenticated %}

        <form method="POST" action="" style="width:100%">
            {{ form.hidden_tag() }}
                <legend class="border-bottom mb-4 text-center"><b>Add Expense</b></legend>
                <fieldset class="form-group expense-form-fields con">

                    <div class="form-outline mb-4">
                        {# <div class="ml-2"> {{ form.name.label()}} </div> #}
                        {% if form.name.errors %}
                            {{ form.name(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.name(class="form-control", placeholder="Name") }}
                        {% endif %}

                    </div>

                    <div class="form-outline mb-4">
                        {# <div class="ml-2"> {{ form.category.label()}} </div> #}
                        {% if form.category.errors %}
                            {{ form.category(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.category.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.category(class="form-control", placeholder="Category") }}
                        {% endif %}

                    </div>

                    <div class="form-outline mb-4">
                        {# <div class="ml-2"> {{ form.date.label()}} </div> #}
                        {% if form.date.errors %}
                            {{ form.date(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.date.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.date(class="form-control", placeholder="Date") }}
                        {% endif %}

                    </div>



                    <div class="form-outline mb-4">
                        {# <div class="ml-2"> {{ form.amount.label()}} </div> #}
                        {% if form.amount.errors %}
                            {{ form.amount(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.amount.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.amount(class="form-control", placeholder="Amount (£)") }}
                        {% endif %}

                    </div>




                    <div class="form-outline mb-4">

                        {{ form.submit(class="btn btn-outline-info expense-form-button")}}
                    </div>



                </fieldset>



        </form>

    {% else %}
        <div class="text-center">
            <p> <a href="{{ url_for('views.login')}}">Login</a> or <a href="{{ url_for('views.register')}}">Register</a> to
                add your expenses.</p>
        </div>


    {%endif%}

    

</div>
{# 
<div class="row bg-glass expense-form justify-content-center align-items-center">
    <div class="text-right">
        <p> Past 24 hours: £000.00 <br>
            Past 7 days: £000.00 <br>
            Past 30 days: £000.00 <br>
            Past year: £000.00</p>        
    </div>

    

</div> #}

<div class="row bg-glass expense-form justify-content-center align-items-center">
    <legend class="border-bottom pt-5 mb-4 text-center"><b>Breakdown</b></legend>
    <div calss="align-items-center" style="height:auto; width: auto;">
        <p>Monthly Spendings: £00.00</p>
        <p>Monthly Spendings: £00.00</p>
        <p>Monthly Spendings: £00.00</p>
        <p>Monthly Spendings: £00.00</p>
    </div>
    <div id = "chart" style="height: 400px; margin: 1rem; width: 600px;"></div>
</div>


    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>-->
    <script type='text/javascript'>
        var graphs = {{ graphJSON | safe}};
        Plotly.plot('chart', graphs, {});
    </script>



<style>

</style>

{% endblock %}