.background{
    border: 3px solid green;
    background-color: lightgray;
    /* text-align: center; */

}

body {
    /* background: white; */
    /* color: #333333; */
    margin-top: -6vh;    
    /* height: 100vh; */
    /* width: 100vw; */

    /* background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(100vh circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%),
        radial-gradient(100vw circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%); */
    
}




.content-section {
    max-width: 98.57rem;
    margin: 2rem auto;
    box-shadow: -1px 0px 6px 0px rgba(0,0,0,0.75);
    min-height: 100%;
} 

.glass_card {
    /* From https://css.glass */
    /* rgb(10 36 120 / 46%); */
    background: rgba(8, 62, 237, 0.49); 
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgb(255, 255, 255);
}

.form-check-input {
    /* vertical-align: middle;
    position: relative;
    bottom: 2px;
    width: 1rem;
    height: 1rem; */

    flex:none;
    width: 1rem;
    height: 1rem;
}

.form-check-label {
    /* vertical-align: middle; */
    display: flex;
    align-items: center;
    margin-left: 1px;
}



/* 
.navbar {
    background-color: red;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: green;
}
 */

 .navbar-default { margin : 0 !important; }

 .navbar {
    background-color: #310e45d8;
    /* background-image: linear-gradient(-90deg, red, blue ); */
    
    
  }
  .navbar .navbar-brand {
    color: #fdfdfc;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #f4f700;
  }
  .navbar .navbar-text {
    color: #fdfdfc;
  }
  .navbar .navbar-text a {
    color: #f4f700;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #f4f700; 
  }
  .navbar .navbar-nav .nav-link {
    color: #fdfdfc;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #f4f700;
  }
  .navbar .navbar-nav .dropdown-menu {
    background-color: #44006b;
    border-color: #44006b;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #fdfdfc;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
  .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
  .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #f4f700;
    background-color: #44006b;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #44006b;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #f4f700;
    background-color: #44006b;
  }
  .navbar .navbar-toggler {
    border-color: #44006b;
  }
  .navbar .navbar-toggler:hover,
  .navbar .navbar-toggler:focus {
    background-color: #44006b;
  }
  .navbar .navbar-toggler .navbar-toggler-icon {
    color: #fdfdfc;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #fdfdfc;
  }
  .navbar .navbar-link {
    color: #fdfdfc;
  }
  .navbar .navbar-link:hover {
    color: #f4f700;
  }
  
  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #fdfdfc;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #f4f700;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #f4f700;
      background-color: #44006b;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #fdfdfc;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #f4f700;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #f4f700;
      background-color: #44006b;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #fdfdfc;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #f4f700;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #f4f700;
      background-color: #44006b;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #fdfdfc;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #f4f700;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #f4f700;
      background-color: #44006b;
    }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #fdfdfc;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #f4f700;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #f4f700;
    background-color: #44006b;
  }